body{
    margin: 0;
    padding: 0;
    background: #F0F0F0;
    font-family: 'Roboto', sans-serif;
}
.nav__bar{
    background-color: rgb(59,131,2);
    width: 100%;
    height: 130px;
}
.nav__bar__top{
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
}
.nav__bar__top__logo{
    width: 20%;
    height: 100%;
}
.nav__bar__top__logo img{
    width: 100%;
    padding-top: 10px;
}
.nav__bar__top__right{
    width: 19%;
    height: 100%;
    margin-left: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:10px;
}
.nav__bar__top__right img:nth-child(1){
    width: 85%;
    
}
.nav__bar__top__right img:nth-child(2){
    width: 27px;
    height: 27px;
}
.nav__bar__bottom{
    width: 1090px;
    height: 30px;
    margin-left: 120px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__bar__bottom a{
    font-size: 13px;
    color:rgb(255,255,247);
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-decoration: none;
}
.nav__bar__bottom a:hover{
    transform: scale(1.05);
    color: #FFFFFFFF;
    box-shadow: 1px 1px 1px rgb(128, 128, 128);
}

.exercise__middle{
    width: 67%;
    height: 350px;
    margin: 50px auto;
}
.exercise__middle__one{
    width: 100%;
    height: 60%;
    box-shadow: 2px 2px 2px gray;
    border-radius: 5px;
}
.exercise__middle__two{
    width: 100%;
    height: 30%;
    margin-top: 20px;
    box-shadow: 2px 2px 2px gray;
    background-color: rgb(255,255,255);
    border-radius: 5px;
}
.exercise__middle__one__one{
    width: 100%;
    height: 32%;
    display: flex;
    background-color: rgb(255,255,255);
    
}
.exercise__middle__one__three{
    width: 100%;
    height: 32%;
    background-color: rgb(255,255,255);
   
}
.exercise__middle__one__three__left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.exercise__middle__one__two{
    width: 100%;
    height: 30%;
    background-color: rgb(232,245,233);
   
}
.exercise__middle__one__two__right{
    width: 50%;
    height: 100%;
    margin-left: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first{
    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
 

}
.second{
    width: 15%;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
   
}
.third{
    width: 15%;
    height: 100%;
    margin-left: 210px;
 
}
.first img{
    width: 27px;
    height: 27px;
}
.second p{
    font-size: 13px;
    color: gray;
    font-weight: bold;
}
.third img{
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 100px;
}
.exercise__middle__one__two p{
    font-size: 16px;
    color: green;
}
.exercise__middle__one__two img{
    width: 20px;
    height: 20px;
}
.exercise__middle__one__three p{
    font-size: 13px;
    font-weight: bold;
    color:rgb(60,173,210);
    letter-spacing: 1px;
}
.exercise__middle__two p{
    font-size: 14px;
    padding: 25px;
    font-weight: bold;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.815);
}
.exercise____middle__bottom{
    width: 25%;
    height:30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.exercise____middle__bottom P{
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgb(60,158,199);
    font-weight: bold;
    padding-left: 10px;
}


.plan__footer{
    width: 100%;
    height: 330px;
    margin-top: 0px;
    background: rgb(59,131,2);
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.plan__footer__one{
    width: 28%;
    height: 100%;
    margin-left: 30px;
}
.plan__footer__two,.plan__footer__three,.plan__footer__four,
.plan__footer__five{
    width: 15%;
    height: 100%;
    margin-left: 30px;
}
.plan__footer__two li:hover,.plan__footer__three li:hover,.plan__footer__four li:hover,
.plan__footer__five li:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.726);
    transform: scale(1.03);
}
.plan__footer__one h5{
    color: rgb(242,255,255);
    font-size: 17px;
    padding: 10px;
    margin-top: 50px;
}
.plan__footer__one h6{
    color: rgb(186,210,114);
    font-size: 13px;
}
.plan__footer__two,.plan__footer__three,.plan__footer__four,
.plan__footer__five li{
    color: rgba(242, 255, 255, 0.836);
    font-size: 14px;
    line-height: 28px;
    padding-top: 10px;
}
